:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196F3;
  --accent-color-hover: #188CE8;
  --white-color: #ffffff;
  --white-semitransparent: rgba(255, 255, 255, 0, 6);
  --background-color-primary: #ffffff;
  --background-color-secondary: #F5F4FA;
  --background-tertiary: #2F303A;
  --header-border-bottom-color: #ECECEC;
  --card-border-color: #eeeeee;
  --svg-icons-grey: #AFB1B8;
  --advantages-icons-background: #F5F4FA;
  --font-raleway: 'Raleway', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

body {
  background-color: var(--background-color-primary);
  color: var(--primary-text-color);
  font-family: var(--font-roboto);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.ul-reset {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid var(--header-border-bottom-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container_flex {
  display: flex;
}

.container_baseline {
  align-items: baseline;
}

.section {
  padding: 94px 0;
}

.section__header {
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-align: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu__item:first-child,
.menu__item:nth-child(2) {
  margin-right: 50px;
}

.menu__link {
  display: block;
  position: relative;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link.current {
  color: var(--accent-color);
}

.menu__link.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -1px;
}

.logo {
  margin-right: 93px;
  font-family: var(--font-raleway);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo_main {
  color: var(--secondary-text-color);
}

.logo_main:hover, .logo_main:focus {
  color: initial;
}

.logo_accent {
  color: var(--accent-color);
}

.logo_reverse {
  display: block;
  margin: 0 0 20px 0;
  color: var(--white-color);
}

.logo_reverse:hover, .logo_reverse:focus {
  color: var(--white-color);
}

.contacts {
  margin-left: auto;
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.17;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item:first-child {
  margin-right: 50px;
}

.contacts__svg {
  display: flex;
  fill: var(--svg-icons-grey);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover .contacts__svg,
.contacts__link:focus .contacts__svg {
  fill: var(--accent-color);
}

.contacts__svg_envelope {
  width: 16px;
  height: 12px;
}

.contacts__svg_smartphone {
  width: 10px;
  height: 16px;
}

.hero {
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background.jpg");
  background-color: #C4C4C4;
}

.hero__title {
  margin: 0 auto 30px;
  max-width: 696px;
  color: var(--white-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.hero__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  font-family: var(--font-roboto);
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
}

.btn {
  border: 1px transparent solid;
  border-radius: 4px;
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.btn:hover {
  cursor: pointer;
}

.btn_primary {
  background-color: var(--accent-color);
  color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn_primary:hover, .btn_primary:focus {
  background-color: var(--accent-color-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn_secondary {
  background-color: var(--background-color-secondary);
  color: var(--secondary-text-color);
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn_secondary:hover, .btn_secondary:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.advantages {
  padding-bottom: 0;
}

.advantages-list__header {
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.17;
  font-size: 14px;
}

.advantages-list__item {
  width: 270px;
}

.advantages-list__item:not(:nth-child(4n + 4)) {
  margin-right: 30px;
}

.advantages-list__item:not(:nth-child(-n + 4)) {
  margin-top: 30px;
}

.advantages-list {
  flex-wrap: wrap;
}

.advantages-list__svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}

.advantages-list__icon {
  width: 70px;
  height: 70px;
}

.tasks-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.tasks-list__item {
  flex-basis: calc((100% - 90px)/ 3);
  margin-left: 30px;
  margin-top: 30px;
}

.tasks-list__img-container {
  position: relative;
}

.tasks-list__description {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 80px;
  text-transform: uppercase;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
  line-height: 1.17;
  font-weight: 700;
}

.section_dark {
  background-color: var(--background-color-secondary);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team-list__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  background-color: var(--background-color-primary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(46, 16, 16, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__info {
  padding: 30px 32px;
  text-align: center;
}

.team-list__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17em;
  color: var(--secondary-text-color);
}

.team-list__occupation {
  margin: 0 0 16px 0;
  font-size: 16px;
}

.sm-list {
  display: flex;
  justify-content: space-between;
}

.sm-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background: transparent;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-list__link:hover, .sm-list__link:focus {
  background-color: var(--accent-color);
}

.sm-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--svg-icons-grey);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-list__link:hover .sm-list__icon,
.sm-list__link:focus .sm-list__icon {
  fill: var(--white-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__link {
  display: flex;
  width: 170px;
  height: 92px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--svg-icons-grey);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  cursor: pointer;
  border-color: var(--accent-color);
}

.clients-list__logo {
  width: 106px;
  height: 60px;
  fill: var(--svg-icons-grey);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover .clients-list__logo,
.clients-list__link:focus .clients-list__logo {
  fill: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}

.modal {
  background-color: var(--white-color);
  width: 528px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  border: #0000001A 1px solid;
  cursor: pointer;
  padding: 10px;
}

.modal__close-svg {
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.modal__close-btn:hover .modal__close-svg,
.modal__close-btn:focus .modal__close-svg {
  fill: var(--accent-color);
}

.icon-close {
  fill: #000000;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.contact-form__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 12px;
}

.contact-form__input-holder {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: rgba(33, 33, 33, 0.2) 1px solid;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 42px;
}

.contact-form__input:focus {
  outline-color: var(--accent-color);
}

.contact-form__icon {
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:focus + .contact-form__icon {
  fill: var(--accent-color);
}

.txt-area {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.txt-area::placeholder {
  color: #75757580;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

label {
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;
}

.contact-form__icon {
  display: block;
  fill: var(--secondary-text-color);
  height: 18px;
  width: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.contact-form__accept-rules {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 16px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
}

.contact-form__custom-checkbox {
  width: 16px;
  height: 16px;
  fill: var(--white-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
}

.contact-form__checkbox:checked + .contact-form__accept-rules > .contact-form__custom-checkbox {
  background-color: var(--accent-color);
  border-color: transparent;
}

.contact-form__checkbox:focus + .contact-form__accept-rules > .contact-form__custom-checkbox {
  outline: 2px solid var(--accent-color);
}

.contact-form__terms {
  color: var(--accent-color);
}

.contact-form__btn-send {
  padding: 10px 56px;
  align-self: center;
  line-height: 1.86;
}

.main-footer {
  padding: 60px 0;
  background-color: var(--background-tertiary);
}

.address__contact-address {
  font-style: normal;
}

.address__link {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:not(:last-child) {
  margin-bottom: 9px;
}

.street-address {
  color: var(--white-color);
}

.email-footer,
.phone-footer {
  color: var(--white-semitransparent);
}

.email-footer {
  margin-bottom: 9px;
}

.address {
  margin-right: 70px;
}

.join {
  margin-right: 93px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form__email {
  border: rgba(255, 255, 255, 0.3) 1px solid;
  padding: 15px 16px;
  background-color: transparent;
  border-radius: 4px;
  width: 358px;
  margin-right: 12px;
  color: white;
}

.subscribe-form__email::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.subscribe-form__button {
  display: flex;
  align-items: center;
  padding: 10px 29px;
}

.subscribe-form__icon {
  height: 24px;
  width: 24px;
  fill: var(--white-color);
  margin-left: 10px;
}

.main-footer__header {
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 20px;
}

.sm-footer {
  display: flex;
}

.sm-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-footer__link:hover, .sm-footer__link:focus {
  background-color: var(--accent-color);
}

.sm-footer__item:not(:last-child) {
  margin-right: 10px;
}

.sm-footer__icon {
  fill: var(--white-color);
  width: 20px;
  height: 20px;
}

.portfolio__header {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  text-align: left;
}

.main-heading {
  text-align: center;
}

.filter {
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  flex-wrap: wrap;
}

.portfolio__item {
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item:not(:nth-child(-n + 3)) {
  margin-top: 30px;
}

.portfolio__item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}

.portfolio_container {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 64px 24px;
  font-size: 18px;
  line-height: 1.55;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .portfolio__overlay,
.portfolio__item:focus .portfolio__overlay {
  transform: translateY(0%);
}

.portfolio__info {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio__header {
  margin: 0 0 5px 0;
}

.portfolio__category {
  margin: 0;
  color: var(--primary-text-color);
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.87em;
}
/*# sourceMappingURL=main.css.map */